<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AMANA.XBRL.Engine" publicKeyToken="eee0b4e0a74b6777" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.5.241" newVersion="2.3.5.241" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="XPath20Api" publicKeyToken="d006728aa1a8596e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.241.0" newVersion="1.7.241.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AMANA.XBRL.Plugins" publicKeyToken="ee912463a15eb195" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.5.241" newVersion="2.3.5.241" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AMANA.XBRL.Support" publicKeyToken="c505f608dcdb490e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.5.241" newVersion="2.3.5.241" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
