<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="BilanzdatenELBASoapBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/axis/services/BilanzdatenELBAPort"
                binding="customBinding" bindingConfiguration="BilanzdatenELBASoapBinding"
                contract="Elba.BilanzdatenELBAPortType" name="BilanzdatenELBAPort" />
        </client>
    </system.serviceModel>
</configuration>